#pageHoadon input {
    width: 100%;
}
#body_list_item_hoadon,#body_list_hoadon tr>th {
    padding: 0;
    text-align: center;
}
 #addSanPham button {
    width: 151px;
}
#body_list_hoadon button {
    margin: 10px;
    word-break: keep-all;
    padding: 8px 14px;
    border-radius: 8px;
    border: 1px solid #0066ff;
    background-color: #ffffff;
    cursor: pointer;
}
#btnHandle button {
}
#editHoaDon {
    display: none;
}
.input-infor-hoadon th span{
    padding-bottom: 8px;
}

#addSanPham {
    text-align: center;
}
#input-sp #stt-sp{
    position: relative;
}
#input-sp th {
    padding: 0;
}
#sttSP:disabled {
    background: red;
  }