.list_daily .func_daily{
        display: flex;
        flex-direction: column;
        
}
.list_daily .func_daily .list_button #handle{
    display: none;
}
 .func_daily .list_button button {
    margin: 10px;
    padding: 8px 14px;
    border-radius: 8px;
    border: 1px solid #0066ff;
    background-color: #ffffff;
    cursor: pointer;
}
.func_daily .list_button button:focus {
    outline: none;
}
 .list_button .handle_search input {
    margin: 10px;
    padding: 8px 14px;
    border-radius: 8px;
    border: 1px solid #0066ff;
    background-color: #ffffff;
    cursor: pointer;
}
 .list_button .handle_search select {
    padding: 11px 14px;
    border-radius: 8px;
    border: 1px solid #0066ff;
    background-color: #ffffff;
    cursor: pointer;
}
 .list_button .handle_search select:focus {
    outline: none;
}

.list_daily .func_daily .list_button button:focus {
    outline: none
}
.list_daily .func_daily .list_input input {
    border: none;
}
#arr_input td input{
    width: 100%;
}
#body_input_sanpham {
    display: none;
}
#body_list_item_daily>tr>td {
    text-align: center;
}
#body_list_item_daily button {
    margin: 10px;
    width: 120px;
    padding: 8px 14px;
    border-radius: 8px;
    border: 1px solid #0066ff;
    background-color: #ffffff;
    cursor: pointer;
}