.list_phieuthutien table tr >th input {
    float: right;
}
#arr_input {
    display: none;
}
#body_list_item_phiethutien button {
    width:181px;
}
#inforHoaDon p{
    display: flex;
    justify-content: space-around;
}
#inforHoaDon p span[data-type="title"]{
    color: black;
}
#inforHoaDon p span[data-type="value"]{
    color: red;
}